# -------------------------------------
# | CONFIGURACIÓN DE LA BASE DE DATOS |
# -------------------------------------

# PARÁMETROS DE LA BASE DE DATOS
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=little_caesars
DB_USERNAME=user_little_caesars
DB_PASSWORD=password_little_caesars

# URL DE CONEXIÓN PARA Flask Y FastAPI
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# CONFIGURACIÓN DE SEGURIDAD PARA FastAPI
MASTER_USER=user_little_caesars
MASTER_PASSWORD=password_little_caesars

# MODO DE EJECUCIÓN DE PYTHON
FASTAPI_ENV=development
FLASK_DEBUG=True


# ---------------------------------------------
# | CLAVES SECRETAS DE LA API, JWT Y FRONTEND |
# ---------------------------------------------

API_URL=http://backend:8000
API_KEY=DNEAISTLZLERIZTODAIEESLLIA
JWT_SECRET_KEY=TEOTEUIUGRLILFTABSMH
FRONTEND_SECRET_KEY=IAEVRENNYNIEIEFLRTEMIESEEVH